<div class="row">
	<div ng-include="'menu.html'"></div>
</div>

<div class="row">
	<div class="col-sm-12 text-center">
		<form name="loginForm">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input name="login" type="text" placeholder="Podaj login" class="form-control" ng-model="login" required>
			</div>
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				<input name="password" type="password" placeholder="Twoje hasło" class="form-control" ng-model="password" required>
			</div>
			<button class="btn btn-default" ng-disabled="loginForm.login.$invalid || loginForm.password.$invalid" ng-click="zaloguj()">
				<span class="glyphicon glyphicon-open"></span> Zaloguj
			</button>
		</form>
		<div class="alert alert-danger" ng-show="loginIncorrect"><strong>Błąd!</strong> Podałeś błędny login lub hasło.</div>
	</div>
	
</div>